[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-autopair"]
	path = zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url =  https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vim/bundle/vim-plug"]
	path = vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vim/bundle/quickmenu.vim"]
	path = vim/bundle/quickmenu.vim
	url = https://github.com/skywind3000/quickmenu.vim
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/bundle/NrrwRgn"]
	path = vim/bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/vim-l9"]
	path = vim/bundle/vim-l9
	url = https://github.com/eparreno/vim-l9
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/bundle/VisIncr"]
	path = vim/bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "vim/bundle/vim-signature"]
	path = vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/bundle/vim-github-colorscheme"]
	path = vim/bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme
[submodule "vim/bundle/Zenburn"]
	path = vim/bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/predawn.vim"]
	path = vim/bundle/predawn.vim
	url = https://github.com/juanedi/predawn.vim
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "zsh/plugins/zshnip"]
	path = zsh/plugins/zshnip
	url = https://github.com/facetframer/zshnip.git
[submodule "/home/sergio/.dotfiles/zsh/zplug"]
	path = /home/sergio/.dotfiles/zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "zsh/themes/powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "/home/sergio/.dotfiles/tmux/plugins/tpm"]
	path = /home/sergio/.dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
